.sign {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    border: 1px solid rgba(0, 0, 0, 0.22);
}

p {
    font-size: 13px;
    font-weight: 600;
    margin: 0;
}

.button_buy {
    border: 1px solid #d700cc;
    background-color: white;
    color: #d700cc
}

.button_buy:hover {
    background-color: #d700cc;
    color: white
}

a {
    text-decoration: none;
    color: #000;
}